# Large Sequencing formats to ignore.
*.bam
*.bam_header
*.fq
*.fa
*.gff
*.vcf

#--------------------------#
# Specific Files to Ignore #
#--------------------------#
BGI1_urls.txt
BGI2_urls.txt
BGI3_Princeton_urls.txt
download_bams.sh
mmp_wild_isolate_data_Mar13.txt