# Large Sequencing formats to ignore.
*.bam
*.bam_header
*.fq
*.fa

#--------------------------#
# Specific Files to Ignore #
#--------------------------#
BGI1_urls.txt
BGI2_urls.txt
BGI3_Princeton_urls.txt
download_bams.sh