# Large Sequencing formats to ignore.
*.bam
*.bam.zip
*.bam_header
*.fq
*.fq.gz
*.fa
*.gff
*.sam
*.vcf

#--------------------------#
# Specific Files to Ignore #
#--------------------------#
BGI1_urls.txt
BGI2_urls.txt
BGI3_Princeton_urls.txt
download_bams.sh
mmp_wild_isolate_data_Mar13.txt
data/raw/bam_urls/*
.Rproj.user
